body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
}
nav{
    margin-left: 75%;
}
.navigation-bar{
    text-decoration: none;
    color: black;
    margin: 5px;
}
#first-section{
    height: 800px;
}
section{
    margin-bottom: 200px;
}
.half-division{
    width: 36%;
    float :left;
    margin: 5% 7%;
}
.First-head{
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}
.color{
    color:rgb(255,128,99,1);
}
.Text{  
    font-size: 15px;
    font-weight: 500;
    color: rgb(104, 103, 103);
    margin-bottom: 40px;
}
.link{
    text-decoration: none;
    background-color:rgb(255,128,99,1);
    color:white;
    font-weight:700;
    padding:15px 25px;
    border-radius: 5px;
    font-size: 15px;
    background-image: linear-gradient(0deg ,rgb(255,128,99,100%),rgb(244,96,96,100%));
}
.sec-one-img{
    width:100%;
    height:auto;
}
#left_image{
    margin-top: 150px;
}
#right_image{
    margin-bottom: 100px;
}
#second-section{
    background-color: rgb(245, 237, 237);
    width:100%;
    height: 700px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color: rgb(15, 13, 13); 
}
#LWP{
    text-align: center;
    padding:50px;
}
.one-third-div{
    width: 25%;
    height: 400px;
    float: left;
    padding: 0 10px;
    border-radius: 15px;
    background-color:white;
    box-shadow: 2px 2px 5px rgb(204, 202, 202);
}
.sec-two-img{
    width: 95%;
    padding: 2.5%
    height: 400px;
}
.headings{
    font-size: 20px;
    font-weight: bold;
    color: rgb(53, 59, 121)
}
#pic-one{
    margin-left: 8%;
}
#pic-two{
    margin : 0% 1.5%;
}
#pic-three{
    margin-right: 5%;
}